$white: #fff;
$black: #000;
$dark_gray: #999999;
$light_gray: #ACB6B1;
// GREEN SHADES ===================================
$green: #007672;
$light_green: #E2F4EA;
$dark_green: #4D625F;
$role_green: #3E5552;
$show_all: #304A45;
$green_line: $green;
$dropbox_green: #18332F;
$no_result: #4A9D9B;
$no_res_green: #4F6360;
// ORANGE SHADES ==================================
$orange: #FF9931;
$cross_orange: #FFCDB6;
$dark_orange: #FD671F;